#about
  div <b> About </b>
  div I am currently a student at Brown University and the Rhode Island School of Design. I am of Malaysian nationality but was born in HK and spent my childhood years growing up in Beijing, Sydney and Hong Kong. I like pictures of horses, darth vader and prime steak!

  br 
  br
  div Brown-RISD Dual Degree '15
  div Computer Science (<em>Brown</em>)
  div Furniture Design (<em>RISD</em>)

  br
  br
  div <em>Public Collection </em>
  div Standard Chartered Bank Corporate Collection
  div Chevron China, Corporate Collection 
  div Atkins and Ai Gallery, Beijing

  br
  br
  div Contact me at <a href='mailto:jianshentan@gmail.com'> jianshentan@gmail.com </a>
  div Resume available upon request
 
  br
  br
  br
  
  div <b> Friends </b>
  div <a href='http://www.lukasbentel.com'>Lukas Bentel</a>
  div <a href='http://www.kojiiii.com'>Koji Yamamoto</a>
  div <a href='http://cargocollective.com/kevinkwiesner'>Kevin Wiesner</a>
  div <a href='http://eactiv.com'>Charles Yeh</a>
  div <a href='http://portfolios.risd.edu/samjau'>Sam Jau</a>

  script(type='text/javascript/', src='/javascripts/about.js')
