#about
  script(type='text/javascript/', src='/javascripts/about.js')
  div <b> About </b>

  br
  br
  div Passion for art and technology and the many curious places they find themselves mingling
  div Interested in design and how it affects human interaction
  div Interested in entrepreneurial processes and how it can facilitate effective product design and execution

  br 
  br
  div Brown-RISD Dual Degree '15
  div Computer Science (<em>Brown</em>)
  div Furniture Design (<em>RISD</em>)

  br
  br
  div <em>Public Collection </em>
  div Standard Chartered Bank Corporate Collection
  div Chevron China, Corporate Collection 
  div Atkins and Ai Gallery, Beijing
  
  br
  br
  div Contact me at <a href='mailto:jianshentan@gmail.com'> jianshentan@gmail.com </a>
  div Resume available upon request
 
  br
  br
  br
  
  div <b> Friends </b>
  div <a href='http://www.lukasbentel.com'>Lukas Bentel</a>
  div <a href='http://www.kojiiii.com'>Koji Yamamoto</a>
  div <a href='http://cargocollective.com/kevinkwiesner'>Kevin Wiesner</a>
  div <a href='http://eactiv.com'>Charles Yeh</a>
  div <a href='http://portfolios.risd.edu/samjau'>Sam Jau</a>
