#bottlePlantPattern

  div <b>Bottle. Plant. Pattern.</b> 2011 spring
  br
  div about the work: 
  div bottle. plant. pattern. bottle. plant. pattern. bottle. plant. pattern. bottle. plant. pattern...  
  br
  
  table
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern01.png', width='400')
      td.description
        div 86 X 61cm
        div charcoal
  table 
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern02.png', width='400')
      td.description
        div 86 X 61cm
        div pastels
  table 
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern03.png', width='400')
      td.description
        div 91 X 61cm
        div pastels
  table
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern04.png', width='400')
      td.description
        div 91 X 61cm
        div charcoal

   table
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern05.png', width='400')
      td.description
        div 91 X 61cm
        div pastel

  table
    tr
      td
        img(class='image', src='/assets/bottlePlantPattern/bottlePlantPattern06.png', width='400')
      td.description
        div 122 X 91cm
        div charcoal

  script(type='text/javascript', src='javascripts/bottlePlantPattern.js')
