#concreteComfort
  div <b>Concrete Comfort (Sit On The Face of Evil) </b>, 2013 Spring
  br
  div This piece was made in collaboration with <span id='kevin' class='friend'>Kevin Wiesner</span> and <span id='lukas' class='friend'>Lukas Bentel</span>, an icecream loving man
  br
  hr
  br
  table#descriptionTable
    tr
      td
        div <b>Project Description</b>
        br
        div Evil is so bad, I wanted to sit on it. But what form does evil take? How is evil universally represented? ..Darth Vader (of course)
        br
        div This piece was informed primarily by process. We wanted the quick, almost haphazard, construction to embody the playful spirit of the piece. By putting two disparate materials together, we are able to combine the amorphous qualities of the concrete with the clean lines of the wood. 
        br
        div This stool addresses more traditional uses of concrete and wood in furniture making practices. While this combination is typically used to exploit the unique properties of both materials - to make serious, functional and enduring furniture - we wanted this object to poke fun at this tradition in order to give design a more playful purpose. So how better to do this than to sit on the uncomfortable face of Darth Vader - the face of evil? How better to express this than to throw wooden dowels into drying concrete to create seemingly haphazard joinery? Ultimately the humor is in the action that created these pieces as much as in the imagery we play with.
        
      td
        img(class='image', src='/assets/concreteComfort/concreteComfort01.png', width='200')
  
  br
  hr
  br
  table
    tr
      td
        img(class='image', src='/assets/concreteComfort/concreteComfort02.png', width='410')
      td
        img(class='image', src='/assets/concreteComfort/concreteComfort03.png', width='410')
 
  br
  hr
  br
  div Here are some friends
  table
    tr
      td
        img(class='image', src='/assets/concreteComfort/concreteComfort04.png', width='420')
 

  

  script(type='text/javascript', src='/javascripts/concreteComfort.js')
