#dogCase
  div <b>Dog Case</b>, 2013 Spring
  br
  div This piece was made in collaboration with <span id='kevin' class='friend'>Kevin Wiesner</span> and <span id='lukas' class='friend'>Lukas Bentel</span>, my bearded biker stud friend
  br
  br
  div#dogCaseIllustration 
    div#description
      div <em> Project Info: </em> 
      div this is a space to talk about the project. Here i will describe the project
    img(id='illustration', src='/assets/dogCase/dogCase01.png', width='780') 

  br
  hr
  br
  div Photos:
  img(class='image', src='/assets/dogCase/dogCasePhoto10.png', width='785')  
  table
    tr
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto01.png', width='380')  
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto03.png', width='380')  

  img(class='image', src='/assets/dogCase/dogCasePhoto02.png', width='785')  
  
  table
    tr
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto04.png', width='380')  
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto05.png', width='380')  

  //- img(class='image', src='/assets/dogCase/dogCasePhoto06.png', width='380')  
  img(class='image', src='/assets/dogCase/dogCasePhoto07.png', width='785')  

  table
    tr
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto08.png', width='380')  
      td
        img(class='image', src='/assets/dogCase/dogCasePhoto09.png', width='380')  

  br
  div *photography by <a href="http://www.robchron.com">Rob Chron</a>
  br
 
  script(type='text/javascript', src='/javascripts/dogCase.js')
