#dothopper
  table
    tr
      td(style='padding-right: 20px;')
        img(src='/assets/dothopper/dothopper01.png', height='380')
      td
        img(src='/assets/dothopper/dothopper02.png', height='380')
  script(type='text/javascript', src='/javascripts/dothopper.js')
