#dothopper
  div <b>Dot Hopper</b>, 2013 
  br
  div Cannot find the parties that everyone seems to be talking about? Ever felt like the party you're at is getting kind of boring but you're not sure where else to go?
  br
  div Dot Hopper will find out for you! With a live update system, Dot Hopper will help you keep track of events in your proximity. Not only do you get to see where the events are happening, but you get a constant stream of live updates about each event you're interested in. 
  br
  div This project is still in development, but check out the designs for it below!

  br
  hr
  br
  div Webapp Design
  table#webTable
    tr
      td
        img(src='/assets/dothopper/dothopper_web01.png', width='700')
    tr
      td.cover
        div.cellWrapper
          img(id='default', src='/assets/dothopper/dothopper_web02.png', width='700')
          img(id='hover', src='/assets/dothopper/dothopper_web03.png', width='700')
    tr
      td
        img(src='/assets/dothopper/dothopper_web04.png', width='700')

  br
  hr
  br
  div Mobile Design
  table#mobileTable
    tr
      td
        img(src='/assets/dothopper/dothopper_mobile01.png', width='240')
      td
        img(src='/assets/dothopper/dothopper_mobile02.png', width='240')
      td
        img(src='/assets/dothopper/dothopper_mobile03.png', width='240')
    tr
      td
        img(src='/assets/dothopper/dothopper_mobile04.png', width='240')
      td
        img(src='/assets/dothopper/dothopper_mobile05.png', width='240')
      td
        img(src='/assets/dothopper/dothopper_mobile06.png', width='240')
        
  br
  hr
  br
  div Coming soon to a device near you
  table
    tr
      td(style='padding-right: 20px;')
        img(src='/assets/dothopper/dothopper01.png', height='380')
      td
        img(src='/assets/dothopper/dothopper02.png', height='380')
  br
  hr
  br
  script(type='text/javascript', src='/javascripts/dothopper.js')
