#freefoodatbrown
  
  div <b>Free Food At Brown</b>, 2012 fall
  br
  hr
  br 
  table
    tr
      td(class='header', width='120')
        div The Website:
      td
        div freefoodatbrown.com is an experiment in speedy creation. We wanted to see how quickly we could build and launch a project in a strict time limit. 4 persons, 36 hours, and many mouse clicks later, we are proud to present to you: Free Food at Brown.
    tr
      td.header
        div Who Are We:
      td
        div This project was also made as a collaborative effort between Brown University and the Rhode Island School of Design. It was made with <span id='charles' class='friend'>Charles Yeh</span> (Brown '14), <span id='sam' class='friend'>Sam Jau</span> (RISD '14) and Max Song (Brown '14).
    tr
      td.header
        div Why:
      td
        div Student groups go to great lengths to procure free food. We want to amplify their generosity to a broader audience, and also create opportunities for fortuitous encounters. So, go eat free food, and learn something new! 
    tr
      td.header 
        div How Does it Work:
      td
        div Free food events are found by adaptive magic, so keep checking back, the site will get smarter with time.
  br
  hr      
  br
  div Design:
  br
  img(src='/assets/freefoodatbrown/freefoodatbrown01.png', width='800')

  br
  br

  script(type='text/javascript', src='/javascripts/freefoodatbrown.js')
