#horseTable
  script(type='text/javascript', src='/javascripts/horseTable.js')
  div <b> Horse Table </b>, 2012 fall
  br

  div#horseTableTitleDiv
    img(id='horseTableTitle', src='/assets/horseTable/horseTableTitle.png', width='600')
  br

  table#horseTableGrid
    tr
      td
        img(id='horseTableGrid1', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid01.png', width='190')
        div(id='horseTableGridCover1', class='horseTableGridCover')
        div(id='horseTableGridDescription1', class='horseTableGridDescription')
          div marble horse table
      td
        img(id='horseTableGrid2', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid02.png', width='190')
        div(id='horseTableGridCover2', class='horseTableGridCover')
        div(id='horseTableGridDescription2', class='horseTableGridDescription')
          div walnut horse table
            p w/ upholsered sheep skin  
      td 
        img(id='horseTableGrid3', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid03.png', width='190')
        div(id='horseTableGridCover3', class='horseTableGridCover')
        div(id='horseTableGridDescription3', class='horseTableGridDescription')
          div some stripes
      td
        img(id='horseTableGrid4', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid04.png', width='190')
        div(id='horseTableGridCover4', class='horseTableGridCover')
        div(id='horseTableGridDescription4', class='horseTableGridDescription')
          div gold
    tr
      td
        img(id='horseTableGrid5', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid05.png', width='190')
        div(id='horseTableGridCover5', class='horseTableGridCover')
        div(id='horseTableGridDescription5', class='horseTableGridDescription')
          div bricks
      td
        img(id='horseTableGrid6', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid06.png', width='190')
        div(id='horseTableGridCover6', class='horseTableGridCover')
        div(id='horseTableGridDescription6', class='horseTableGridDescription')
          div green floral
      td 
        img(id='horseTableGrid7', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid07.png', width='190')
        div(id='horseTableGridCover7', class='horseTableGridCover')
        div(id='horseTableGridDescription7', class='horseTableGridDescription')
          div iHorse
      td
        img(id='horseTableGrid8', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid08.png', width='190')
        div(id='horseTableGridCover8', class='horseTableGridCover')
        div(id='horseTableGridDescription8', class='horseTableGridDescription')
          div lego
    tr
      td
        img(id='horseTableGrid9', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid09.png', width='190')
        div(id='horseTableGridCover9', class='horseTableGridCover')
        div(id='horseTableGridDescription9', class='horseTableGridDescription')
          div christmas
      td
        img(id='horseTableGrid10', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid10.png', width='190')
        div(id='horseTableGridCover10', class='horseTableGridCover')
        div(id='horseTableGridDescription10', class='horseTableGridDescription')
          div Marukami
      td
        img(id='horseTableGrid11', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid11.png', width='190')
        div(id='horseTableGridCover11', class='horseTableGridCover')
        div(id='horseTableGridDescription11', class='horseTableGridDescription')
          div original blue 
      td
        img(id='horseTableGrid12', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid12.png', width='190')
        div(id='horseTableGridCover12', class='horseTableGridCover')
        div(id='horseTableGridDescription12', class='horseTableGridDescription')
          div Darth Vader
    tr
      td
        img(id='horseTableGrid13', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid13.png', width='190')
        div(id='horseTableGridCover13', class='horseTableGridCover')
        div(id='horseTableGridDescription13', class='horseTableGridDescription')
          div Louis Vuitton
      td
        img(id='horseTableGrid14', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid14.png', width='190')
        div(id='horseTableGridCover14', class='horseTableGridCover')
        div(id='horseTableGridDescription14', class='horseTableGridDescription')
          div polka dots
      td
        img(id='horseTableGrid15', class='horseTableGridImage', src='/assets/horseTable/horseTableGrid15.png', width='190')
        div(id='horseTableGridCover15', class='horseTableGridCover')
        div(id='horseTableGridDescription15', class='horseTableGridDescription')
          div cow hide 
      td
        img(id='horseTableGrid16', class='horseTableGridImage', src='/assets/horseTable/horsetableGrid16.png', width='190')
        div(id='horseTableGridCover16', class='horseTableGridCover')
        div(id='horseTableGridDescription16', class='horseTableGridDescription')
          div Pollock

  br
  table#diagramTable
    tr
      td
        div Scale Diagram:
      td.ortho
        div Orthographic:
    tr
      td(colspan='2')
        hr
    tr
      td
        img(id='gangnamStyle', src='/assets/horseTable/horseTableScaleDiagram.png', width='360')
        img(id='gangnamStyleShades', src='/assets/horseTable/horseTableScaleDiagramShades.png', width='360')
        div(id='hoverShadesOne', class='hoverShades')
        div(id='hoverShadesTwo', class='hoverShades')
        div(id='hoverShadesThree', class='hoverShades')
      td.ortho
        img(src='/assets/horseTable/horseTableOrtho.png', width='360')


