extends layout

block content
  #index
    br
    div &nbsp &nbsp &nbsp Jian Shen Tan (JS), &copy 2013. &nbsp
      span#about About.
    hr
    br
    table#table
      tr
        td(id='dothopperThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='dothopperImage', src='/assets/index/i_dothopper.png')
            div.cover
              div dothopper

        td(id='freeBeyonceThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='freeBeyonceImage', src='/assets/index/i_freeBeyonce.png')
            div.cover
              div Free Beyonce

        td(id='horseTableThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='horseTableImage', src='/assets/index/i_horseTable.png')
            div.cover
              div Horse Table

        td(id='detentionTableThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='detentionTableImage', src='/assets/index/i_detentionTable.png')
            div.cover
              div Detention Table

        td(id='freefoodatbrownThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='freefoodatbrownImage', src='/assets/index/i_freefoodatbrown.png')
            div.cover
              div freefoodatbrown

        td(id='nolaThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='nolaImage', src='/assets/index/i_nola.png')
            div.cover
              div Nola

        td(id='thetowergameThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='thetowergameImage', src='/assets/index/i_thetowergame.png')
            div.cover
              div thetowergame

      tr
        td(id='continuousProfilesThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='continuousProfilesImage', src='/assets/index/i_continuousProfiles.png')
            div.cover
              div Continuous Profiles

        td(id='swingSlideThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='swingSlideImage', src='/assets/index/i_swingSlide.png')
            div.cover
              div Swing Slide

        td(id='bottlePlantPatternThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='bottlePlantPatternImage', src='/assets/index/i_bottlePlantPattern.png')
            div.cover
              div Bottle.Plant.Pattern.

        td(id='cinderblocksThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='cinderblocksImage', src='/assets/index/i_cinderblocks.png')
            div.cover
              div Cinderblocks

        td(id='exhibitionTwoThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='exhibitionTwoImage', src='/assets/index/i_exhibitionTwo.png')
            div.cover
              div Testing Freedom's Temperature

        td(id='exhibitionOneThumb', class='thumb')
          div.cellWrapper
            img(class='image', id='exhibitionOneImage', src='/assets/index/i_exhibitionOne.png')
            div.cover
              div A Culture of Entitlement

        
  script(type='text/javascript', src='/javascripts/index.js')
