#heBeGlitchin{}

#heBeGlitchin a{
  color: pink;
}

#heBeGlitchin td{
  vertical-align: top;
  padding-bottom: 10px;
  padding-top: 10px;
}

#heBeGlitchin .image{
  padding-right: 20px;
}

#heBeGlitchin .description{
  padding-left: 20px;
  padding-top: 20px;
}

#heBeGlitchin #projectDescription{
  padding-left: 40px;
  padding-top: 35px;
}

